

%div
  .footer
    .container.width1210

      %ul.footer-list
        %li.footer_a
          %a{:href => "/home"} About Affluence Connect
        %li.footer_a
          %a{:href => "/home"} Affluence Blog
        %li.footer_a
          %a{:href => "/home"} Jobs
        %li.footer_a
          %a{:href => "/home"} Site Map
        %li.footer_a
          %a{:href => "/home"} Site Feedback
        %li.footer_a
          %a{:href => "/home"} Help


      %ul.footer-list
        %li.footer_a
          Copyright © 2012 Affluence All Rights Reserved
        %li.footer_a
          %a{:href => "/home"} Privacy Policy
        %li.footer_a
          %a{:href => "/home"} Legal Agreements

